@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poller+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #fcf0da;
    color: #457094;
    padding: 30px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin-bottom: 70px;
    font-size: 13.5px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(255, 252, 248);
}

header a {
    font-size: 21px;
    text-decoration: none;
    color: #457094;
    font-family: "Montserrat", sans-serif;
}

header a:hover {
    color: #264d6d;
}

header i {
    padding: 7px;
}

header h2 {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

header h2:hover {
    color: #264d6d;
}

.banner {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

img {
    border-radius: 18px;
    height: 330px;
    width: 1000px;
    border: 1px solid #457094;
}

img:hover {
    transition: transform 0.4s ease, box-shadow 0.2s ease;
    transform: scale(1.01);
    box-shadow: rgb(67, 67, 67, 0.30) 0px 10px 20px, rgba(67, 67, 67, 0.30) 0px 6px 6px;
}

.titulo-home {
    padding: 40px;
    padding-bottom: 35px;

}

.titulo-home h2 {
    font-size: 21px;
    margin-left: 35%;
}

.titulo {
    padding: 40px;
    padding-bottom: 35px;

}

.titulo h2 {
    padding-top: 50px;
    font-size: 21px;
    margin-left: 35%;
}

.descricao {
    font-size: 14px;
    margin-left: 350px;
    margin-right: 350px;
    border: 1px solid #457094;
    border-radius: 18px;
    padding: 30px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 8px 18px, rgba(0, 0, 0, 0.23) 0px 4px 4px;
}


.descricao p {
    font-weight: normal;
    font-size: 19.5px;

}

.descricao:hover {
    transition: transform 0.4s ease, box-shadow 0.2s ease;
    transform: scale(1.01);
    cursor: context-menu;
}

footer {
    background-color: #fcf0da;
    color: #457094;
    text-align: center;
    font-size: 15.5px;
    padding: 50px;
    bottom: 0;
    width: 100%;
    margin-top: 80px;
    font-weight: bold;
}

.texto-normal {
    font-size: 1.1rem;
    padding-top: 40px;
    display: block;
}

footer a {
    text-decoration: none;
    border: 1px solid #457094;
    border-radius: 20px;
    color: #264d6d;
    padding: 10px;
}

a:hover {
    color: #fcf0da;
    background-color: #264d6d;
    transition: transform 0.4s ease;
    transform: scale(1.01);
}