@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poller+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #fcf0da;
    color: #457094;
    padding: 30px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin-bottom: 70px;
    font-size: 13.5px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(255, 252, 248);
}

header a {
    font-size: 20px;
    text-decoration: none;
    color: #457094;
    font-family: "Montserrat", sans-serif;
}

header a:hover {
    color: #264d6d;
    border-bottom: 0.13rem solid #264d6d;
}

header i {
    padding: 7px;
}

header h2 {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

header h2:hover {
    color: #264d6d;
}

.banner {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.imagem-banner {
    border-radius: 18px;
    height: 330px;
    width: 1000px;
    border: 1px solid #457094;
}

.imagem-banner:hover {
    border: 1px solid #98BBD6;
    box-shadow: rgba(71, 140, 196, 0.2) 0px 8px 25px; 
    transition: all 0.3s ease;
}

.titulo-home {
    padding: 40px;
    padding-bottom: 35px;
    text-align: center;
}
.titulo-home h2 {
    font-size: 20px;
    border-bottom: 0.13rem solid #264d6d;
    display: inline-block; 
}
.titulo-psico {
    padding: 40px;
    padding-bottom: 35px;
    text-align: center;

}
.titulo-psico h2 {
    padding-top: 50px;
    font-size: 21px;
    border-bottom: 0.13rem solid #264d6d;
    display: inline-block; 
}
.descricao {
    max-width: 800px; 
    margin: 10px auto 18px auto; 
    padding: 30px;
    border-radius: 12px; 
    border-left: 0.25rem solid #457094;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px;
    text-align: justify; 
}
.descricao p {
    font-size: 19.5px;
    font-weight: 400; 
    color: #333333; 
    line-height: 1.6;  
}
.descricao:hover {
    box-shadow: rgba(77, 77, 77, 0.2) 0px 8px 25px; 
    transition: all 0.3s ease;
}

footer {
    background-color: #fcf0da;
    color: #457094;
    text-align: center;
    font-size: 15.5px;
    padding: 50px;
    bottom: 0;
    width: 100%;
    margin-top: 80px;
    font-weight: bold;
}

.texto-normal {
    font-size: 1.1rem;
    padding-top: 40px;
    display: block;
}

footer a {
    text-decoration: none;
    border: 1px solid #457094;
    border-radius: 20px;
    color: #264d6d;
    padding: 10px;
}

footer a:hover {
    color: #fcf0da;
    background-color: #264d6d;
    transition: transform 0.4s ease;
    transform: scale(1.01);
}

/* Página da biografia */

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;

}

.titulo p {
    border-bottom: 0.13rem solid #264d6d;
}

.biografia {
    max-width: 990px;
    margin: 50px auto 30px auto;
    font-size: 17px;
    border-left: 0.25rem solid #457094;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    line-height: 1.6;
}

.biografia:hover {
    box-shadow: rgba(77, 77, 77, 0.2) 0px 8px 25px; 
    transition: all 0.3s ease;
}

.foto-theresa {
    border: 1px solid white;
    border-radius: 12px;
    width: 30rem;
    height: 18rem;
    object-fit: cover;
    margin-right: 20px;
}

/* Página da Entrevista */

.container-titulo {
    text-align: center;
    padding-bottom: 1%;
}

.container-titulo h2 {
    border-bottom: 0.13rem solid #264d6d;
    font-size: 20px;
    display: inline-block;
}

.frase-destaque {
    max-width: 990px;
    margin: 50px auto 30px auto;
    font-size: 20px;
    border: 0.1rem solid #457094;
    font-style: italic;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px;
    padding: 25px;
    align-items: center;
    line-height: 1.6;
}

.pergunta-resposta {
    max-width: 990px;
    margin: 50px auto 30px auto;
    font-size: 17px;
    border-left: 0.25rem solid #457094;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px;
    padding: 25px;
    align-items: center;
    line-height: 1.6;
}

.pergunta-resposta:hover {
    box-shadow: rgba(77, 77, 77, 0.2) 0px 8px 25px; 
    transition: all 0.3s ease;
}

.pergunta {
    font-weight: bold;
    padding-bottom: 10px;
}

/* Página de conclusão*/

.conclusao {
    text-align: center;
}

.titulo-conclusao {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 0.13rem solid #264d6d;
    display: inline-block;
}

.concluir {
    max-width: 990px;
    margin: 50px auto 30px auto;
    font-size: 17px;
    border-left: 0.25rem solid #457094;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px;
    padding: 25px;
    display: block;
    align-items: center;
    line-height: 1.6;
}

.concluir:hover {
    box-shadow: rgba(77, 77, 77, 0.2) 0px 8px 25px; 
    transition: all 0.3s ease;
}